<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>tp5</title>
</head>
<style type="text/css">
	.pagination li{
		display: inline-block;
		list-style: none;
		padding: 5px;
		background: #0066FF;
		color: #fff;
		margin: 0 5px;
	}
	li a{
		color: #000;
		text-decoration: none;
	}
</style>
<body>
名字：{$name}<br>
邮箱：{$email}<br>
数组：{$data.name}<br>
<div>
	<ul>
		{volist name="test_data" id="test_data"}
			name:{$test_data.name} - data:{$test_data.data}<br>
		{/volist}
	</ul>
</div>
{$page}
</body>
</html>